.cartIcon {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &Bag {
    width: 26px;
    height: 32px;
  }

  &Count {
    position: absolute;
    display: inline-block;
    font-size: 10px;
    font-weight: 900;
    bottom: 13px;
    color: #413382;

    width: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

