.footer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: #574A97;
  padding: 50px 60px;

  &Col {
    padding: 0 30px 0 0;
  }

  &Title {
    margin: 0 0 15px 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    color: #473889;
  }

  &Tel {
    cursor: pointer;
    color: #E5F7FF;
    font-size: 16px;
    font-weight: 500;
  }

  &List {
    margin: 0;
    padding: 0 0 0 30px;
    list-style: none;

    &Item {
      position: relative;
      padding: 5px 0;
      font-size: 14px;
      line-height: 22px;
      color: #E5F7FF;

      &:before {
        content: '';
        position: absolute;
        top: 8px;
        left: -25px;
        width: 18px;
        height: 18px;
        background-image: url('../../assets/images/logo.svg');
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }

  .nav {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &Link {
      display: flex;
      align-items: center;
      height: 100%;
      cursor: pointer;
      color: #E5F7FF;
      font-size: 16px;
      font-weight: 500;
      border-bottom: 2px solid transparent;
    }
  }
}

.copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 30px 60px;
  background-color: #776FC3;

  &Text {
    margin: 5px 0 0 0;
    font-size: 14px;
    font-weight: 500;
    color: #473889;
  }
}
