.cart {
  display: flex;
  flex-direction: column;
  padding: 30px;
  // background-color: #E5F7FF;
  border-radius: 25px;


  border: 1px solid #EBE5F6;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}

